<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lucifer.model">

  <select id="classificationList"  resultType="com.lucifer.model.Classification">
    select * from classification
  </select>
  <select id="getClassification" resultType="com.lucifer.model.Classification">
  	select * from classification where id=#{id}
  </select>
  <select id="getOneChildClassification" resultType="com.lucifer.model.Classification">
  	select * from classification where parent_id=#{parent_id} limit 1
  </select>
  <insert id="insertClassification">
  	insert into classification (id ,name,parent_id) values (#{id},#{name},#{parent_id})
  </insert>
  <update id="updateClassification">
  	update classification set name=#{name} where id=#{id}
  </update>
  <delete id="deleteClassification">
  	delete from classification where id=#{id};
  </delete>
  <select id="refClassificationList" resultType="com.lucifer.model.Classification">
  	select distinct(name) from classification where name like '${name}%' or name_py like '${name_py}%' or name_pj like '${name_pj}%'
  </select>
	
  <select id="getClassificationParent" resultType="com.lucifer.model.Classification">
  	select id,name,parent_id from classification where parent_id='0'
  </select>
  
  <select id="getClassificationSecond" resultType="com.lucifer.model.Classification">
  	select id,name,parent_id from classification where parent_id=#{id}
  </select>
  
  <select id="getBookByClass" resultType="com.lucifer.model.Book">
  	<![CDATA[
  		select b.id,b.author,b.cover,b.intro, b.name from book_classification c,book b where c.b_id = b.id and b.visible<2 
  	]]> 
  	<if test="id != null and id != '' ">
		and c.c_id = #{id}
	</if>
	order by b.id desc
  	<if test="offset != null and perPageCount != null">
		limit #{offset},#{perPageCount}
	</if>
  </select>
</mapper>