<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lucifer.model">  
  <insert id="insertResume">
  	insert into resume 
  	(id,title,user_id,city_id,industry_id,position_id,nature,salary,current_status,evaluation,specialty,start_work_date,open,created_at,updated_at)
  	values
  	(#{id},#{title},#{user_id},#{city_id},#{industry_id},#{position_id},#{nature},#{salary},#{current_status},#{evaluation},
  	#{specialty},#{start_work_date},#{open},now(),now())
  </insert>
  <update id="updateResume">
  update resume
  set city_id = #{city_id},industry_id=#{industry_id},position_id=#{position_id},nature=#{nature},salary=#{salary},
  		current_status=#{current_status}, evaluation=#{evaluation}, specialty=#{specialty},start_work_date=#{start_work_date} 
  </update>
  <select id="userResumeList" resultType="com.lucifer.model.Resume">
  select * from resume where user_id=#{userId}
  </select>
  <select id="getResume" resultType="com.lucifer.model.Resume">
  select * from resume where id = #{id}
  </select>
  
  <update id="updateResumeInfo">
  update resume
  set title=#{title}, city_id = #{city_id},industry_id=#{industry_id},position_id=#{position_id},nature=#{nature},salary=#{salary},open=#{open},
  		current_status=#{current_status}, evaluation=#{evaluation}, specialty=#{specialty},start_work_date=#{start_work_date} ,updated_at = now()
  		where id = #{id}
  </update>
  <update id="refreshResume">
  update resume set updated_at = now() where id = #{id}
  </update>
  <update id="closeResume">
  update resume set open = 0 where id = #{id}
  </update>
  <update id="openResume">
  update resume set open = 1 where id = #{id}
  </update>
  
  
  
  
  	<insert id="insertJobExperence">
	  insert into job_experience 
	  (id,resume_id,start_date,end_date,company,job,description,salary)
	  values
	  (#{id},#{resume_id},#{start_date},#{end_date},#{company},#{job},#{description},#{salary})
  	</insert>
	
	<select id="resumeJobExprienceList" resultType="com.lucifer.model.JobExperience">
	select * from job_experience where resume_id = #{resume_id}
	</select>
	<delete id="deleteJobExperence">
	delete from job_experience where id = #{id}
	</delete>
	<select id="getJobExperience" resultType="com.lucifer.model.JobExperience">
	select * from job_experience where id = #{id}
	</select>
	<update id="updateJobExprience">
	update job_experience set start_date=#{start_date},end_date=#{end_date},company=#{company},job=#{job},description=#{description},salary=#{salary} where id = #{id}
	</update>
	
	
	<!-- 项目经验 -->
	<insert id="insertProjectExperience">
	insert into project_experience 
	  (id,resume_id,start_date,end_date,name,duty,description)
	  values
	  (#{id},#{resume_id},#{start_date},#{end_date},#{name},#{duty},#{description})
	</insert>
	<select id="getProjectExperience" resultType="com.lucifer.model.ProjectExperience">
	select * from project_experience where id = #{id}
	</select>
	<update id="updateProjectExperience">
	update project_experience set start_date=#{start_date},end_date=#{end_date},name=#{name},duty=#{duty},description=#{description} where id = #{id}
	</update>
	<select id="resumeProjectExperienceList" resultType="com.lucifer.model.ProjectExperience">
	select * from project_experience where resume_id = #{resume_id}
	</select>
</mapper>