.search_button{
  width: 100px;
  background-color: #ff9600;

  border: 1px solid #ff9600;
  color: #ffffff;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  height: 33px;
  line-height: 33px;
  overflow: hidden;
  padding: 0 15px;
  text-align:center;
}