@charset "utf-8";
/*头部 搜索框*/
.sheader .search{ height:40px; margin-right:35px; width:auto; _width:490px; }
.sheader .searchTxt{ border-color:#e30000; border-width:2px; width:370px; }
.sheader .searchThis,.sheader .searchAll{ border-color:#ccc; height:35px; line-height:35px; padding:0 20px; }
.sheader .searchTxt input,.sheader .searchTxt{ height:31px; line-height:31px; _height:29px; _line-height:29px; }
.sheader a.publishBtn,.sheader .publishBtn{ border-left:0; height:35px; line-height:35px; padding:0 15px; }
.sheader .publish{ width: 132px; }
.sheader .redBtnBor{ width: 100px; }

/*首页公共部分*/
.s_main .indexNav{ background-image:url("../images/home.png"); }
.s_main a.blue{ color:#1155CC; }
.s_main a.blue:hover{ color:#f00; }


/*导航*/
.s_main .indexNav{ background-position:0 -296px; background-repeat:repeat-x; border-top:1px solid #e3e3e3; border-bottom:2px solid #ce3b28; height:35px; line-height:35px; font-size:14px; margin:0 auto 10px; width:100%; }
.s_main .indexNav li{ float:left; margin-right:5px; position:relative; }
.s_main .indexNav a.title{ display:inline-block; padding:0 16px; }
.s_main .indexNav li.on a.title{ background-color:#D84836; background:linear-gradient(top,#e25443,#ce3b28); background:-webkit-linear-gradient(top,#e25443,#ce3b28); border:1px solid #D84836; border-bottom:0; color:#fff; font-weight:bold; margin-top:-1px; padding:0 15px; }
.s_main .indexNav li.on a.title:hover{ color:#fff; }
/*导航下拉*/
.s_main .indexNav li .childNav{ background:#fff; border:1px solid #dadada; border-top:2px solid #ce3b28; display:none; font-size:12px; left:0; overflow:hidden; padding:10px 0; position:absolute; top:35px; width:220px; z-index:100; }
.s_main .indexNav .childNav dl{ overflow:hidden; width:222px; }
.s_main .indexNav .childNav dt{ border-right:1px solid #dadada; border-width:0 1px; float:left; height:27px; line-height:27px; margin-right:0; overflow:hidden; }
.s_main .indexNav li .childNav dt a{ display:inline-block; oveflow:hidden; padding:0 10px; width:90px; }
.s_main .indexNav li .childNav dt a:hover{ background-color:#f1f1f1; color:#333; }

/*划过导航 li*/
.s_main .indexNav li:hover a.title,.s_main .indexNav li.hover a.title{ background-color:#ffecea; border:1px solid #D84836; border-bottom:0; color:#333; margin-top:-1px; padding:0 15px; }
.s_main .indexNav li.on:hover a.title{ background-color:#D84836; }
.s_main .indexNav li:hover .childNav,.s_main .indexNav li.hover .childNav{ display:block; }


/*主要内容*/
.listNav{ float:left; margin-right:-40px; overflow:hidden; width:1040px; }
.listNav .listChild{ background:#fafafa; float:left; margin:0 40px 20px 0; width:480px; }
.listNav .listChild h2{ font-size:14px; height:35px; line-height:35px; padding-left:10px; }
.listNav .listChild .lists{ font-size:0; overflow:hidden; }
.listNav .listChild .lists a{ border-left:1px solid #ddd; display:inline-block; font-size:12px; height:15px; line-height:15px; margin:0 0 10px -1px; padding:0 10px; }

.cAd{width:1040px;height:100px;}
.cAd ul li{float:left;width:320px; padding:0 10px 0 0; margin:5px 0;}